---
layout: default
---
<div class="home-layout">
  <h1>Tom Croucher <span class="antiem">aka sh1mmer</span></h1>

  <div class="home-columns">
    <div class="menu-col">
      <div class="section">
        <h3>Writing</h3>
        <ul>
          <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
          <li><a href="https://www.oreilly.com/library/view/node-up-and/9781449332235/">Book</a></li>
        </ul>
      </div>

      <div class="section">
        <h3>Code</h3>
        <ul>
          <li><a href="https://github.com/sh1mmer">Github</a></li>
        </ul>
      </div>

      <div class="section">
        <h3>Hire Me</h3>
        <ul>
          <li><a href="mailto:tom.croucher+wab@gmail.com?subject=I'm%20from%20the%20internet">Email me</a></li>
        </ul>
      </div>
    </div>

    {% if content != blank %}
    <div class="content-col">
      {{ content }}
    </div>
    {% endif %}
  </div>
</div>
<div class="bg"></div>
<div class="credit">Photo by <a href="https://www.flickr.com/photos/whatnot/4794068830/">Ari</a></div>
