---
layout: default
---
<div class="home-layout">
  <h1>Tom Croucher <span class="antiem">aka sh1mmer</span></h1>

  <div class="section">
    <h2>Writing</h2>
    <ul>
      <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
    </ul>
  </div>

  <div class="section">
    <h2>Code</h2>
    <ul>
      <li><a href="https://github.com/sh1mmer">Github</a></li>
    </ul>
  </div>

  <div class="section">
    <h2>Hire Me</h2>
    <ul>
      <li><a href="mailto:tom.croucher+wab@gmail.com?subject=I'm%20from%20the%20internet">Email me</a></li>
    </ul>
  </div>

  {{ content }}
</div>
